@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
:root {
  --family: "Nunito", sans-serif;
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}
* {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  box-sizing: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 17px;
  color: #666;
  text-align: justify;
  font-family: var(--family);
  background: #009fe7;
  background: linear-gradient(
    326deg,
    #930de0 0%,
    #009fe7 15%,
    #00dedf 50%,
    #9c00e0 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 600%;
  min-height: 100%;
}
section {
  padding-top: 25vw;
}
section::before {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23FF0066' d='M41.9,-72.2C51.7,-67,55.1,-50.4,63,-36.5C70.9,-22.5,83.3,-11.3,85.9,1.5C88.5,14.3,81.4,28.6,69.8,36.2C58.2,43.7,42.2,44.6,29.9,52.7C17.5,60.9,8.8,76.3,-2,79.7C-12.7,83.2,-25.5,74.7,-36.9,66C-48.3,57.3,-58.3,48.4,-63.4,37.4C-68.4,26.3,-68.5,13.2,-68.5,0C-68.6,-13.2,-68.6,-26.4,-64.4,-39.1C-60.3,-51.7,-52.1,-63.8,-40.7,-68C-29.2,-72.2,-14.6,-68.5,0.7,-69.7C16.1,-71,32.2,-77.3,41.9,-72.2Z' transform='translate(100 100)' /%3E%3C/svg%3E ");
  opacity: 0.6;
  position: absolute;
  left: 60%;
  width: 40vw;
}
.card {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  color: white;
  z-index: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.card-pic {
  width: 12rem;
  background-blend-mode: hard-light;
  margin: -20vw auto;
}
@media (min-width: 991px) {
  section {
    padding-top: 15vw;
  }
  section::before {
    left: 50%;
    width: 30vw;
  }
  .card-pic {
    position: absolute;
    left: -6vw;
    top: -5vw;
    margin: 0;
  }
}
h5 {
  font-size: 1.8rem;
  font-weight: bold;
}
h5::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  color: #5cf5cb;
}
.line {
  width: 100%;
  height: 4px;
  background-color: #5cf5cb;
  opacity: 0.7;
  margin-bottom: 10px;
}
.bringTheNoise {
  position: absolute;
  right: -2vw;
  bottom: -4vw;
  z-index: 2;
  color: white;
  font-size: 3rem;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
  border-radius: 10px;
  transition: all 0.6s ease-in-out;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
@-webkit-keyframes SlowFloat {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.slowfloat2s {
  -webkit-animation: SlowFloat 2s infinite alternate;
  animation: SlowFloat 2s infinite alternate;
}
.slowfloat3s {
  -webkit-animation: SlowFloat 3s infinite alternate;
  animation: SlowFloat 3s infinite alternate;
}

.jelly-card {
  width: 600px;
  margin-top: 100px;
}

.searchBox--form {
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
.searchBox--input,
.searchBox--button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}
.searchBox--input[type="search"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.searchBox--button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}
.searchBox--:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
  + button {
    display: block;
  }
}
.searchBox--label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
